@font-face {
    font-family: 'carnaslight';
    src: url('../fonts/carnas-lig-webfont.eot');
    src: url('../fonts/carnas-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/carnas-lig-webfont.woff2') format('woff2'),
         url('../fonts/carnas-lig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.navbar {
	background-color: #242839 !important;
	color: white;
	height: 60px;
}
.navbar::after{
	background-color: #ffb100;
    width: 100%;
    content: '';
    height: 13px;
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: -13px;
    left: 0;
}
.navbar-logo {
	margin: 0;
	padding: 0;
	width: 115px;
}
@media screen and (min-width: 576px) {
	.navbar-logo {
		width:150px;
	}
}
.navbar-logo img {
	margin: 0;
	padding: 0;
	width: 100%;
}
.navbar-date {
	display: inline-block;
	font-family: 'carnaslight', Arial, Helvetica, Sans-Serif;
	font-size:20px;
	position: absolute;;
	right: 50px;
}
.navbar-toggler {
	color: white !important;
    background: #28a745;
    font-size: 15px;
    padding: 5px;
}
.navbar-toggler:focus{
	outline: initial !important;
	background: #2e8441;
}
.sprints-menu {
	left: 0;
	right: 0;
	top: -150px;
	transition: .4s all ease;
	position: absolute;
	z-index:10;
}
.sprints-menu.active {
	top: 60px;
	transition: .4s all ease;
}
.sprints-menu ul{
	list-style: none;
    background: #ffb100;
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    padding-bottom:10px;
    padding-left: 0;
}
.sprints-menu ul li a{
	display: block;
	color: black;
	font-family: 'carnaslight', Arial, Helvetica, Sans-Serif;
	padding-top:7.5px;
	padding-bottom:7.5px;
}
.sprints-menu ul li a:hover {
	background: rgba(0,0,0,0.85);
	color: white;
	text-decoration: none;
}
.sprintContainer {
	margin-top: 20px;
	position: relative;
	z-index: 0 !important;
}














