.container-fluid  {
  &.containerStopers {
    padding: 15px 20px;
    h1 {
      color: #003e9c;
      display: inline-block;
      font-weight: normal;
    }
    figure.nokiaLogo {
      float: right;
      margin: 0;
      padding-top:10px;
      width: 180px;
      img {
        width: 100%;
      }
    }
  }
  .breadcrumbStopers {
    background-color: #f3f3f3;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    overflow: hidden;
    padding: 10px;
    span {
      color: #a0a0a0;
      &#span1 {
        float: left;
      }
      &#span2 {
        float: right;
      }
    }
  }
  .chartContainer {
    border: 1px solid #ced4da;
    height: 300px;
    margin-top: 20px;
    overflow: hidden;
    h6 {
      color: #828282;
      font-weight: normal;
      padding: 5px 10px;
    }
  }
  form {
    .form-row {
      &.stopersFilters {
        margin-top: 20px;
      }
      .custom-checkbox {
        margin-top: 35px;
      }
    }
  }
  .stopersTableContainer {
    overflow-x: scroll;
    width: 100%;
    .stopersTable {
      margin-top: 20px;
      tr {
        th {
          font-size: 10px;
          span {
            &.rotate {
              /* FF3.5+ */
              -moz-transform: rotate(-90.0deg);
              /* Opera 10.5 */
              -o-transform: rotate(-90.0deg);
              /* Saf3.1+, Chrome */
              -webkit-transform: rotate(-90.0deg);
              /* IE8 */
              -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
              /* Standard */
              transform: rotate(-90deg);
              display: block;
              margin: 0 auto;
            }
          }
        }
        &.bg-primary {
          background-color: #003e9c!important;
          color: white;
        }
        &.bg-info {
          background-color: #4b7cd0!important;
          color: white;
        }
        &.totals {
          background: #324669;
          font-weight: bold;
          td {
            color:white;
          }
        }
      }
      td {
        color: #5a5a5a;
        font-size: 13px;
        height: 30px;
        overflow: hidden;
        text-align: center;
        &.totals {
          font-weight: bold;
        }
      }
    }
  }
}